.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

ion-slides {
    margin-top: -25px;
}

.anxiety,
.grief {
    margin-top: -3px
}

.relationships,
.stress {
    margin-top: -3px;
}

.self-esteem,
.more {
    margin-top: -3px;
}